@import url("https://fonts.googleapis.com/css2?family=Darker+Grotesque:wght@300;400;500;600;700;800;900&display=swap");

*,
*::after,
*::before {
  font-family: "Darker Grotesque", sans-serif;
}

body {
  font-family: "Darker Grotesque", sans-serif;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: .8 !important;
  color: grey;
}

.heading-primary {
  font-family: "Darker Grotesque", sans-serif;
  text-transform: uppercase;
  backface-visibility: hidden;

  &--main {
    color: purple;
    display: block;
    font-size: 1.8rem;
    font-weight: 400;
    letter-spacing: .5rem;
    margin: -.2rem 0;
    animation: 10s turbulenceLeft infinite ease-out;
  }

  &--sub {
    display: block;
    font-size: 1rem;
    font-weight: 700;
    letter-spacing: .5rem;
    animation: 10s turbulenceRight infinite ease-out;
  }
}

.navigation__item {
  font-size: 2rem;
  font-weight: 800;
  color: $primary-color;
  text-decoration: none;
}

.paragraph {
  font-size: 1.4rem;

  &:not(:last-child) {
    margin-bottom: 3rem;
  }
}

.text {
  font-size: 1.2rem;
  color: $primary-background-dark;
  text-decoration: none;

  &--highlight {
    font-weight: 800;
  }

  &--regular {
    letter-spacing: 1px;
  }
}
