@import url("https://fonts.googleapis.com/css2?family=Darker+Grotesque:wght@300;400;500;600;700;800;900&display=swap");

*,
*::after,
*::before {
  font-family: "Darker Grotesque", sans-serif;
}

body {
  font-family: "Darker Grotesque", sans-serif;
  font-weight: 400;
  line-height: 1.7;
  color: grey;
}

.heading-primary {
  font-family: "Darker Grotesque", sans-serif;
  text-transform: uppercase;
  backface-visibility: hidden;

  &--main {
    color: purple;
    display: block;
    font-size: 6rem;
    font-weight: 400;
    letter-spacing: 1.5rem;
    animation: 10s turbulenceLeft infinite ease-out;
  }

  &--sub {
    display: block;
    font-size: 2rem;
    font-weight: 700;
    letter-spacing: 1.74rem;
    animation: 10s turbulenceRight infinite ease-out;
  }
}

.paragraph {
  font-size: 1.4rem;

  &:not(:last-child) {
    margin-bottom: 3rem;
  }
}
