$primary-color: #e4e3f6;
$secondary-color: #808aa7;
$font-color: #242424;
$bg-color: #fff;
$heading-color: #222429;
$primary-background-dark: #1e1e2c;
$secondary-color-dark: #818cab;
$font-color-dark: #e1e1ff;
$bg-color-dark: #161625;
$heading-color-dark: #818cab;
